@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"),
       url("../fonts/roboto.woff2") format("woff2"),
       url("../fonts/roboto.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: local("Roboto Medium"), local("Roboto-Medium"),
       url("../fonts/robotomedium.woff2") format("woff2"),
       url("../fonts/robotomedium.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Bold"), local("Roboto-Bold"),
       url("../fonts/robotobold.woff2") format("woff2"),
       url("../fonts/robotobold.woff") format("woff");
}

html { box-sizing: border-box; }
*, *::before, *::after { box-sizing: inherit; }

body {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  margin: 0;
  padding: 0;
  color: #283136;
  background-color: #ffffff;
}

img { max-width: 100% }

a { text-decoration: none }

.visually-hidden:not(:focus):not(:active),
  input[type="radio"].visually-hidden,
  input[type="checkbox"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-header { background-color: #eeeeee }

.site-navigation,
.cart-navigation,
.catalog-navigation,
.propositions,
.partners,
.social-list,
.sort-list,
.catalog-list {
  margin: 0;
  list-style: none;
}

.main-navigation {
  text-transform: uppercase;
  line-height: 30px;
}

.site-navigation a,
.cart-navigation a { color: #000000 }

.site-navigation a:hover,
.cart-navigation a:hover { color: #ff525b }

.site-navigation a:active,
.cart-navigation a:active { color: #bebebe }

.current-link {
  pointer-events: none;
  cursor: default;
  border-bottom: 2px solid #ff525b;
  padding-bottom: 5px;
}

.slides-head {
  font-size: 55px;
  line-height: 55px;
}

.slides-button {
  display: table-cell;
  width: 240px;
  height: 50px;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #fb565a;
  color: #ffffff;
  border-radius: 3px;
}

.slides-button:hover { background-color: #e74246 }
.slides-button:active {
  color: #e08a8d;
  background-color: #d7363b;
  border-top: 3px solid #bf3336;
}

.propositions-head {
  font-size: 24px;
  line-height: 30px;
  color: #000000;
}

.order {
  display: table-cell;
  width: 160px;
  height: 50px;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  color: #ffffff;
  border-radius: 3px;
}

.order-button1 { background-color: #fb565a }
.order-button1:hover { background-color: #e74246 }
.order-button1:active {
  color: #e08685;
  background-color: #d7363b;
  border-top: 3px;
  border-top: 3px solid #bf3336;
}

.order-button2 { background-color: #00ca74 }
.order-button2:hover { background-color: #01bc6d }
.order-button2:active {
  color: #78c39c;
  background-color: #00aa63;
  border-top: 3px;
  border-top: 3px solid #029858;
}

.order-button3 { background-color: #efc84a }
.order-button3:hover { background-color: #eab535 }
.order-button3:active {
  color: #ebc67f;
  background-color: #e6a823;
  border-top: 3px solid #cd9621;
}

.invite {
  font-size: 36px;
  font-weight: bold;
  line-height: 36px;
}

.discount {
  font-size: 16px;
  font-weight: normal;
  line-height: 22px;
}

.social-link {
  display: block;
  width: 80px;
  height: 80px;
  background-color: #e1e1e1;
  border-radius: 50%;
  float: left;
}

.social-link img {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.social-link:hover { background-color: #e74246 }
.social-link:active { background-color: #d7363b }
.social-link:active img { opacity: 0.5 }

.page-title {
  font-size: 55px;
  text-align: center;
  line-height: 55px;
  margin: 0;
  padding: 100px 0;
  background-color: #eeeeee;
}

.filters fieldset {
  border: none;
}

.filters legend, .sort-label {
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
  text-transform: uppercase;
}

.filters label {
  font-size: 16px;
  line-height: 20px;
}

.sort-list a {
  font-size: 14px;
  color: #ededed;
}
.sort-list a:hover { color: #a8a8a8 }
.sort-list a:active { color: #000000 }

.sort-list img { opacity: 0.25 }
.sort-list img:hover { opacity: 0.5 }
.sort-list img:active { opacity: 1 }

.show-button {
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
  background-color: #eeeeee;
  box-sizing: content-box;
  width: 254px;
  height: 44px;
  padding: 0;
  border: 3px solid #eeeeee;
  border-radius: 3px;
}

.show-button:hover {
  background-color: #dfdfdf;
  border-color: #dfdfdf
}

.show-button:active {
  opacity: 0.5;
  background-color: #d5d5d5;
  border-top-color: #bfbfbf;
}

.browser-img { opacity: 0.09 }
.browser-img:hover { opacity: 1 }

.catalog-list img:hover  ~ .browser-img { opacity: 1 }

.catalog-popup {
  width: 360px;
  height: 231px;
  text-align: center;
  background-color: #eeeeee;
}

.catalog-popup h3 {
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000;
}
.catalog-popup h3:hover { color: #ff525b }
.catalog-popup h3:active { color: #bebebe }

.catalog-popup p {
  line-height: 18px;
  color: #666666;
}

.price-button {
  position: relative;
  display: table-cell;
  left: 80px;
  width: 200px;
  height: 50px;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #fb565a;
  border-radius: 3px;
}
.price-button:hover { background-color: #e74246 }
.price-button:active {
  color: #e08a8d;
  background-color: #d7363b;
  border-top: 3px solid #bf3336;
}

.catalog-navigation a {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  color: #000000;
  border-radius: 3px;
  height: 50px;
}

.list-item { width: 50px; background-color: #eeeeee }
.next-page { width: 260px; background-color: #eeeeee }
.current-page {
  pointer-events: none;
  cursor: default;
  background-color: #ffffff;
  border: 3px solid #dbdbdb;
}

.list-item:hover,
.next-page:hover { background-color: #dfdfdf }

.list-item:active,
.next-page:active { background-color: #d5d5d5; border-top: 3px solid #bfbfbf }

.company {
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
}

.address, .phone {
  font-style: normal;
  line-height: 18px;
  color: #283136
}

.writeus-button {
  display: table-cell;
  width: 240px;
  height: 50px;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #fb565a;
  color: #ffffff;
  border-radius: 3px;
}

.writeus-button:hover { background-color: #e74246 }
.writeus-button:active {
  color: #e08a8d;
  background-color: #d7363b;
  border-top: 3px solid #bf3336;
}


/* POPUP Временно отключен --- 12. Личный проект: начинаем базовую стилизацию --- */
#writeus {
  display: none;
}
